[Unit]
Description=My TODD cogsi app
After=network.target

[Service]
Type=simple
User=nagios
WorkingDirectory=/home/dan/todd-cogsi
ExecStart=/usr/local/bin/start_todd

[Install]
WantedBy=multi-user.target