###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
#
# CONTACTS
#
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the
# 'generic-contact' template which is defined elsewhere.

define contact {

    contact_name            nagiosadmin             ; Short name of user
    use                     generic-contact         ; Inherit default values from generic-contact template (defined above)
    alias                   Nagios Admin            ; Full name of user
    email                   dazevedo.insis@gmail.com ; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
}

define contact {
        contact_name                            daniel1
        alias                                   Daniel1
        email                                   dazevedo.insis@gmail.com
        service_notification_period             24x7
        service_notification_options            w,u,c,r,f,s
        service_notification_commands           notify-service-by-email
        host_notification_period                24x7
        host_notification_options               d,u,r,f,s
        host_notification_commands              notify-host-by-email
}

define contact {
        contact_name                            daniel2
        alias                                   Daniel2
        email                                   dazevedo.insis@gmail.com
        service_notification_period             24x7
        service_notification_options            w,u,c,r,f,s
        service_notification_commands           notify-service-by-email
        host_notification_period                24x7
        host_notification_options               d,u,r,f,s
        host_notification_commands              notify-host-by-email
}

define timeperiod{
    timeperiod_name     nonworkhours
    alias           Non-Work Hours
    sunday          00:00-24:00         ; Every Sunday of every week
    monday          00:00-09:00,17:00-24:00     ; Every Monday of every week
    tuesday         00:00-09:00,17:00-24:00     ; Every Tuesday of every week
    wednesday           00:00-09:00,17:00-24:00     ; Every Wednesday of every week
    thursday            00:00-09:00,17:00-24:00     ; Every Thursday of every week
    friday          00:00-09:00,17:00-24:00     ; Every Friday of every week
    saturday            00:00-24:00         ; Every Saturday of every week
    }


###############################################################################
#
# CONTACT GROUPS
#
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup {

    contactgroup_name       admins
    alias                   Nagios Administrators
    members                 nagiosadmin
}

define contactgroup{
        contactgroup_name                   CogsiGroup1
        alias                               CogsiGroup1
        members                             daniel1
}